<html>
  <head>
    <title>Beeeeer!</title>
    <link href="/stylesheets/styles.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/beers">Beers</a>
      <a href="/random-beers">Random Beer</a>
    </nav>
    {{{ body }}}
  </body>
</html>
